<div id="banner">
    <div id="logo"></div>

</div>
<hr>

<div>
    <div id="titulo">
        <h1>{{titulo}}</h1>
        <h2>{{subtitulo}}</h2>
        <p>{{email}}</p> 
    </div>
</div>
    
    <article class="sobreMi">
    
        <h2>Acerca de mi.</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo neque quos, omnis voluptatum, obcaecati temporibus harum dolorem placeat ratione fugit officiis recusandae rerum voluptas accusamus adipisci eos a itaque similique autem, molestias facere. Eius, perspiciatis delectus aperiam veritatis, dolorem, non accusantium consequatur neque saepe officia voluptates reiciendis amet voluptatem. Explicabo recusandae numquam perspiciatis. Hic omnis fugiat, quia modi quo architecto vel neque. Vitae assumenda ipsam ut minus nemo, consequuntur harum, perspiciatis repudiandae, dolores quam earum numquam enim similique voluptatibus. Fugit eos aliquid, libero nisi illo tenetur amet sunt harum ducimus velit aut, expedita impedit laboriosam, recusandae facere. Sed, voluptates aut.</p>
        
    </article>
     
