<header>
    <ul>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li><a [routerLink]="['/menu']" [routerLinkActive]="['actived']">Menu</a></li>
      <li><a [routerLink]="['/galeria']" [routerLinkActive]="['actived']">Galeria</a></li>
      <li><a [routerLink]="['/contacto']"[routerLinkActive]="['actived']" >Contacto</a></li>
   </ul>
</header>
<section id="content">
    


          <router-outlet></router-outlet>  
</section>
<footer>
    <h6>pagina sugarcake</h6> 
</footer>

    
    
  
      