

<section class="menupadre">
    <div >
        <div id="imgdecoracion1"></div>
    </div>

    <div class="menu">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <hr>
    
        <ol>
            <li>Lorem, ipsum dolor.</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
    
            <li>Lorem, ipsum dolor.</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
            
            <li>Lorem, ipsum dolor.</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
            
            <li>Lorem, ipsum dolor.</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
            
            <li>Lorem, ipsum dolor.</li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
            
            <li>Lorem, ipsum dolor.</li> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo totam eligendi iste dignissimos perspiciatis vel itaque id natus ea in.</p>
    
        </ol>
    </div>

    
</section>
